
  *{
    font-family: Nunito;
  }
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  
  #header.header-transparent {
    margin-top: 0px;
    background: #fff;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
    /* background-color: #fff; */
    background-color: #f9f9f9;
    border-radius: 32px;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 15px 38px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #47536e;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: var(--primary-color);
  }
  
  .navbar .getstarted,
  .navbar .getstarted:focus {
    background: var(--primary-color);
    color: #fff;
    padding: 12px 25px;
    margin-left: 30px;
    color: #fff;
    line-height: 1;
    border-radius: 50px;
  }
  
  .navbar .getstarted:hover,
  .navbar .getstarted:focus:hover {
    background: #748ec6;
    color: #fff;
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: var(--primary-color);
  }
  
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #47536e;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(51, 60, 79, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 6px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #47536e;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: var(--primary-color);
  }
  
  .navbar-mobile .getstarted,
  .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover,
  .navbar-mobile .dropdown ul .active:hover,
  .navbar-mobile .dropdown ul li:hover>a {
    color: var(--primary-color);
  }
  
  .navbar-mobile .dropdown>.dropdown-active {
    display: block;
  }

/* *************------- MAIN -------**************** */
.price-main {
    margin-top: 7%;
}

.price-part-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    padding: 45px 0px;
}

.price-heading {
    color: #242331;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 110%; /* 82.5px */
}

.price-content {
    color: #797979;
    text-align: center;
    font-family: Nunito;
    line-height: 145%;
    margin-top: 5px;
    width: 40%;
    font-size: 18px;
}

.price-part-2 {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 90%;
    align-items: center;
    margin-left: 2%;
    margin-bottom: 3%;
}

.price-conatiner {
    display: flex;
    flex-direction: row;
    margin-right: 10%;
}

.price-offers {
    background-color: #F9F9F9;
    width: 350px;
    height: 554px;
    flex-shrink: 0;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    border-radius: 39px;
    cursor: pointer;
}

.offer-header {
    direction: ltr;
    display: flex;
    justify-content: space-between;
    margin: 3% 8%;
    text-align: center;
    border-bottom: 1px solid #d3d3d3;
    padding: 40px 15px;
    height: 55px;
}

.offer-header-left {
    color: #242331;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    position: relative;
    bottom: 12px;
}

.offer-header-right {
    border: none;
    outline: none;
    display: flex;
    padding: 20px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 39px;
    color: #797979;
    bottom: 20px;
    position: relative;
}

.offer-body {
    margin: 0% 3%;
    height: 100%;
}

.offer-content-1 {
    padding: 10px 0px;
    margin: 0% 6%;
    text-align: center;
    border-bottom: 1px solid #d3d3d3;
}

.offer-value {
    color: #242331;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
    padding: 0px 0px;
}

.offer-value-text {
    color: #242331;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

.offer-btn {
    display: flex;
    padding: 6px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 43px;
    background: #FEC;
    color: #C68A15;
    border: none;
    outline: none;
    justify-content: center;
    margin-left: 16%;
    margin: 5% 0% 5% 17%;
}

.offer-content-2 {
    height: 325px;
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
}

.offer-detail {
    color: #797979;
    text-align: center;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 190%;
}

.offer-highlighted-text {
    color: #242331;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.offer-start {
    display: flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 39px;
    background: #FFF;
    margin: 10% 0%;
    border: none;
    outline: none;
color: #242331;
}



/* ------ hover-part ---------------- */


.price-offers:hover {
  color: white;
  background-color: #1AA9C5;
}

.price-offers:hover .offer-header-left {
  color: #fff;
}

.price-offers:hover .offer-value {
  color: #fff;
}

.price-offers:hover .offer-value-text {
  color: #fff;
}

.price-offers:hover .offer-header-right {
  background: #D7FDFF;
  color: #1AA9C5;
}

.price-offers:hover .offer-detail {
  color: #fff;
}

.price-offers:hover .offer-highlighted-text {
  color: #fff;
}

.price-offers:hover .offer-btn {
  background-color: #7EE5EA !important;
  color: #fff;
}

/* ------ hover-part ---------------- */



.price-part-3-title-text {
    color: #242331;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 123%;
    text-align: center;
    padding: 4% 0%;
}

.price-table-container {
    border-collapse: collapse;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 2% 0% 2% 10%;
}

table {
    border-radius: 30px;
  }


.price-table-body {
    width: 100%;
    border-radius: 30px;
}

td, th {
    text-align: left;
    padding: 8px;
}

  th {
    text-align: center;
    height: 100px;
}

.price-header-first {
        border-radius: 30px 0px 0px 0px;
}

.price-header-last {
        border-radius: 0px 30px 0px 0px;
}

  tr:nth-child(even) {
    background-color: #f9f9f9;
    height: 70px;  
    padding-left: 10px;
  }

  tr:nth-child(odd) {
    height: 70px;  
    background-color: #fff;
    padding-left: 10px;
  }

  .table-price-header {
      border-bottom: 0.5px solid #D3D3D3;
      stroke-width: 1px;
      stroke: #D3D3D3;
      border-radius: 30px !important;
    }
    
    .price-header {
        padding: 5px 10px;
        background-color: #f9f9f9;
        color: #242331;
font-family: Nunito;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: 110%; /* 44px */
  }

  .price-amount {
    color: #242331;
font-family: Nunito;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 110%; /* 22px */
  }


  .prince-single-element {
    width: 1000px;
    color: #1AA9C5;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 22px */
    padding-left: 6%;
}

.price-row-element {
    color: #797979;
font-family: Nunito;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 6%;
  }

  .price-icon-svg {
    width: 20px;
    height: 20px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    margin: 0 auto;
    display: block;
  }

  .price-table-footer {
    height: 100px !important;
}

.table-footer-first {
    border-radius: 0px 0px 0px 30px;
} 

.table-footer-last {
border-radius: 0px 0px 30px 0px;
}

  .footer-btn {
    border: none;
    cursor: pointer;
    outline: none;
    display: inline-flex;
    padding: 13px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #D3D3D3
}

.footer-btn:hover {
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    display: inline-flex;
    padding: 13px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #242331;
}







/* ------------- MEDIA QUERY PART ---------------- */


/* Styles for default (all devices) */

/* Styles for small screens (e.g., mobile phones) */
@media only screen and (max-width: 600px) {

 .price-main {
    margin-top: 18%;
 }
 .price-conatiner {
    flex-direction: column;
}

.price-offers {
    margin-top: 5%;
}

.footer-btn {
    padding: 2px 15px;
}

}

/* Styles for medium-sized screens (e.g., tablets) */
@media only screen and (min-width: 601px) and (max-width: 768px) {

 .price-main {
    margin-top: 18%;
 }
 .price-conatiner {
    flex-direction: column;
}

.price-offers {
    margin-top: 5%;
}

.footer-btn {
    padding: 2px 15px;
}

}

@media only screen and (min-width: 740px) and (max-width: 768px) {
 .price-main {
    margin-top: 15%;
 }
 .price-conatiner {
    flex-direction: column;
}

.price-offers {
    margin-top: 5%;
}

.footer-btn {
    padding: 2px 15px;
}

}


@media only screen and (min-width: 768px) and (max-width: 899px) {
    .price-main {
       margin-top: 7%;
    }
   
    .price-offers {
        width: 36%;
        height: 715px;
    }

    .offer-header {
        flex-direction: column;
    }

    .offer-header-right {
        padding: 0px 0px;
        margin-top: 10%;
    }

    .footer-btn {
        padding: 2px 15px;
    }

   }


@media only screen and (min-width: 900px) and (max-width: 1024px) {
    .price-main {
       margin-top: 7%;
    }
   
   .price-offers {
       width: 36%;
       height: 655px;
   }
   
}

@media only screen and (min-width: 1024px) and (max-width: 1204px) {
    .price-main {
       margin-top: 7%;
    }
   
   .price-offers {
       width: 36%;
       height: 655px;
   }
   
}

/* Styles for large screens (e.g., desktops) */
@media only screen and (min-width: 1025px) {
 .price-main {
    margin-top: 7%;
 }
}

@media (max-width: 515px) {
 .price-main {
    margin-top: 20%;
 }
 .price-conatiner {
    flex-direction: column;
}

.price-offers {
    margin-top: 5%;
}

.footer-btn {
    padding: 2px 15px;
}

} 

@media (max-width: 450px) {
 .price-main {
    margin-top: 22%;
 }
 .price-conatiner {
    flex-direction: column;
}

.price-heading {
  font-size: 26px;
}

.price-part-1 {
  padding: 30px 0px;
}

.price-offers {
    margin-top: 5%;
}

.price-content {
  width: 80%;
}

.footer-btn {
    padding: 2px 15px;
}

.price-offers {
  width: 300px;
  height: 505px;
  margin-left: 7%;
  margin-top: 8%;
}

.offer-header-left {
  font-size: 20px;
}

.offer-header-right {
  padding: 15px 15px;
  width: 50%;
  margin-top: 2%;
}

.offer-content-2 {
  padding: 20px 0px;
}

.offer-detail {
  font-size: 16px;
}

.offer-highlighted-text {
  font-size: 16px;
}

.offer-value {
  font-size: 20px;
}

.offer-value-text {
  font-size: 16px;
}

.offer-btn {
  width: 90%;
  margin-left: 5%;
  margin-top: 6%;
}

}



/* ------------- MEDIA QUERY PART ---------------- */








/* *************------- MAIN -------**************** */

  


  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    padding: 0 0 30px 0;
    color: #47536e;
    font-size: 14px;
    background: #eff2f8;
    background: #fff;
  }
  
  #footer .footer-newsletter {
    padding: 50px 0;
    background: #eff2f8;
    text-align: center;
    font-size: 15px;
  }
  
  #footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #47536e;
  }
  
  #footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  #footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
  }
  
  #footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: var(--primary-color);
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #footer .footer-newsletter form input[type=submit]:hover {
    background: #415f9d;
  }
  
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #fff;
  }
  
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    color: #47536e;
  }
  
  
  
  #footer .footer-top h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #242331;
    position: relative;
    padding-bottom: 12px;
  }
  
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #9fb2d8;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #8a8c95;
    transition: 0.3s;
    display: inline-block;
    line-height: 1.5;
    font-size: 1.1rem;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #27282c;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .copyright {
    text-align: center;
    float: left;
    color: #47536e;
  }
  
  #footer .credits {
    float: right;
    text-align: center;
    font-size: 13px;
    color: #47536e;
  }
  
  html:not(.no-js) [data-aos^=fade][data-aos^=fade].aos-animate img{
    margin-top: 25px;
  }
  
  .getstarted, .getstarted:focus {
    background: var(--primary-color);
    color: #fff;
    padding: 15px 31px;
    margin-left: 30px;
    color: #fff !important;
    line-height: 1;
    border-radius: 50px;
  }
  
  .navbar li:last-child {
    position: relative;
    padding-right: 40px;
  }
  
  .button-light {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 15px;
    display: inline-block;
    padding: 16px 38px 16px 38px;
    transition: 0.5s;
    color: #ffffff;
    background: #32BDC3;
    position: relative;
    border-radius: 80px;
    font-weight: 700;
  }
  
  .section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
  
  .section-2 h2 {
    font-size: 3.125rem;
    font-weight: 800;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #3b3b3b;
    font-family: 'Nunito', sans-serif;
    max-width: 41rem;
  }
  
  
  .features .content .icon-box h4 {
    color: #242331;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 5px 0 10px 60px;
  }
  
  .features .content .icon-box p {
    font-size: 1.3rem;
    color: #979aa1;
    margin-left: 60px;
  }
  
  .features_wrapper{
    position: relative;
  }
  
  .features_wrapper::before {
    content: "";
    position: absolute;
    right: -79%;
    top: 0%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(../img/side_wrapper-2.png);
    background-size: 21%;
    background-repeat: no-repeat;
  }
  
  .nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
    width: 100%;
    padding: 20px 10px 20px 10px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #242331;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: #00adc6;
  }
  
  .trail_wrapper {
    background-image: url('../img/background_price.svg'); 
    /* border-radius: 50px;
    background: linear-gradient(108deg, #ff7777 15.95%, #ff7777 100%); */
    background-size: 100%; 
    background-repeat: no-repeat;
    background-position: center center; 
    width: 1000px;
  }
  
  .padding-3{
    padding: 3rem;
  }
  
  .padding-m {
    padding: 3rem 0rem 0rem 3rem;
  }
  
  .bottom-logo{
    max-width: 10rem;
    margin-bottom: 2rem;
  }
  
  .footer_wrapper_text {
    color: #797979;
    font-family: Nunito;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 157.4%;
  }
  
  .footer-right-text {
    margin-top: 3rem;
    color: #32BDC3;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }
  
  .footer-heading{
    color: #242331;
  font-family: Nunito;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 123%; 
  }
  
  .footer-button {
    padding: 15px 28px 15px 28px;
    border-radius: 43px;
  }
  
  
  .footer-button.btn-primary-vt{
    background: #242331;
    color: #fff;
  }
  
  .footer-button.btn-secondery-vt {
    background: #fff;
    color: #242331;
    border: 1px solid #d3d3d3;
  }
  
  .footers-social-icons a {
    color: #47536e;
    font-size: 1.2rem;
    padding: 0.4rem;
  }
  
  
  
  .footer-phone{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    position: relative;
  }
  
  .footer-phone span, .footer-email span{
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    color: #1aa9c5;
  }
  
  .footer-email {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    position: relative;
  }
  
  .footer-phone a, .footer-email a {
    font-family: Nunito;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 157.4%;
    color: #797979 !important;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
  }
  
  #work-smart {
    padding: 6rem !important;
  }
  
  
  @media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1223px;
  }
  }
  
  
  @media (max-width: 768px) {
  
    .navbar-text{display: none;}
  
    .navbar {
      padding: 0;
       border-radius: 0px; 
      margin-left: 0%;
  }
  
    #footer .copyright,
    #footer .credits {
      float: none;
      text-align: center;
      padding: 5px 0;
    }
  
    #hero::before {
      content: "";
      position: absolute;
      right: -34%;
      top: 0%;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-image: url(../img/home_background.svg);
      background-size: 200%;
      background-repeat: no-repeat;
  }
  
  
  #hero .hero-img img {
    width: 100%;
  }
  
  #hero h1 {
    font-size: 2rem;
    line-height: 1.2;
  }
  
  #hero h2 {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  .testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 12px 1px 0px 0px;
    margin: 0px 10px 10px 10px;
    min-height: 200px;
    position: relative;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
  }
  
  .trail_wrapper {
    background-image: url(../img/background_price.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  #pricing{
    padding: 0px 0;
    overflow: hidden;
  }
  
  .padding-m {
    padding: 2rem;
    text-align: center;
  }
  
  .pricing_text_wrapper .text-email {
    width: 100%;
    color: #fff !important;
  }
  
  
  .pricing_text_wrapper .float-end {
    float: none !important;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  
  .padding-3 {
    padding: 1rem;
  }
  
  
  
  }